<a href="https://colab.research.google.com/github/renanmoreiraa/ADA---Python/blob/master/Aula_1_2_Exerc%C3%ADcios_Listas_e_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1 | Exercícios de listas e tuplas

### Questão 1
Crie uma lista vazia chamada frutas. Adicione três frutas à lista e, em seguida, imprima a lista.

In [2]:
frutas = []
frutas.append("maça")
frutas.append("banana")
frutas.append("uva")
print(frutas)

['maça', 'banana', 'uva']

### Questão 2

Dada a lista numeros = [1, 2, 3, 4, 5], escreva um programa para calcular a soma de todos os números na lista.

In [4]:
lista_numeros = [1, 2, 3, 4, 5]
soma = sum(lista_numeros)
print(soma)

15

### Questão 3

Crie uma tupla chamada meses contendo os nomes dos meses do ano. Peça ao usuário para digitar um número de 1 a 12 e imprima o mês correspondente. Lembre-se de tratar casos inválidos.

In [17]:
meses = ("Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro")
num = int(input("Digite um número de 1 a 12: "))

if num < 1 or num > 12:
    print("Número inválido")
else:
    print(meses[num-1])

Digite um número de 1 a 12: 3
Março

### Questão 4

Dada uma lista de números, crie uma nova lista chamada squared que contenha o quadrado de cada número da lista original.

In [18]:
lista_num = [1, 2, 3, 4, 5]
squared = [i**2 for i in lista_num]
print(squared)

[1, 4, 9, 16, 25]

### Questão 5

Escreva um programa que recebe uma lista de palavras e retorna a lista apenas com as palavras que começam com a letra 'a'. Use uma função para fazer isso.

In [22]:
def filtrar(palavras):
    return [palavra for palavra in palavras if palavra.lower().startswith('a')]

lista_de_palavras = ["abacaxi", "banana", "ameixa", "laranja", "amora"]
palavras_com_a = filtrar(lista_de_palavras)

print(palavras_com_a)

['abacaxi', 'ameixa', 'amora']

### Questão 6

Considere a lista [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]. Faça um programa que remova as tuplas de tamanho k.

In [23]:
lista = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
k = 2
nova_lista = [tupla for tupla in lista if len(tupla) != k]
print(nova_lista)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

In [26]:
#outra resolução
#função
def remover_tuplas(lista_de_tuplas, k):
    return [tupla for tupla in lista_de_tuplas if len(tupla) != k]

lista = [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
k = 2
lista_filtrada = remover_tuplas(lista, k)

print(lista_filtrada)

[(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]