<a href="https://colab.research.google.com/github/renanmoreiraa/ADA---Python/blob/master/Aula_1_1_Listas_e_Tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 1 | Listas e Tuplas

Nesta aula, vamos explorar conceitos fundamentais de Python focados em listas, tuplas e operações comuns com essas estruturas.

**Nosso problema hoje**: Como fazer um sistema que cadastre usuários, permita buscá-los e não permita modificações acidentais.

__________

## 1. Revisão de listas
Listas em Python são estruturas de dados que permitem armazenar uma coleção de itens. As listas são:

- Ordenadas: os itens em uma lista são ordenados, o que significa que cada item tem uma posição específica ou índice começando do zero. Você pode acessar itens individuais usando estes índices. O fatiamento (`slicing`) permite acessar subconjuntos da lista
- Indexadas: os elementos individuais de uma lista podem ser acessados usando índices.
- Heterogêneas: podem conter diferentes tipos de dados como `int`, `float`, `str`, outras listas, e etc.
- Mutáveis: é possível alterar seus elementos após a criação. Você pode adicionar, remover ou modificar itens. Elas são dinâmicas e podem ser manipuladas em tempo de execução.

**Usos comuns**: listas são usadas para coletar dados que precisam ser sequenciados, como uma lista de nomes, números ou mesmo objetos complexos em programas mais avançados.

> Exemplos: Lista de compras, vagão de trem.

### Criação de listas

Listas são definidas usando conlchetes [] ou com a função list().

In [ ]:
lista1 = []
lista2 = list()

print(lista1)
print(lista2)

[]
[]

In [ ]:
usuarios = ['José', 'Maria', 'Ana', 'João']
usuarios

['José', 'Maria', 'Ana', 'João']

In [ ]:
lista_heterogenea = [10, 28.5, True, "babi"]
lista_heterogenea

[10, 28.5, True, 'babi']

In [ ]:
listas_de_listas = [["lucas", "Belem", "PA"], ["Nara", "Guaratingueta", "SP"]]
listas_de_listas

[['lucas', 'Belem', 'PA'], ['Nara', 'Guaratingueta', 'SP']]

In [ ]:
cursos = ["Big Data", "Analytics Engineering,", "Arquitetura de Dados", "Logica de programação"]
cursos[0]
cursos[-1]

### Consulta de elementos em listas e slicing

Como cada elemento da lista possui um índice associado à ele, podemos consultar o conteúdo da lista a partir do número do índice. Se quisermos mais de um elemento, podemos 'fatiar' ou fazer o slicing da lista, selecionando um ou mais índices.

- Índices começando em 0: o primeiro elemento de uma lista tem índice 0, o segundo tem índice 1, e assim por diante.
- Índices negativos: começam do final da lista. Por exemplo, -1 refere-se ao último elemento, -2 ao penúltimo, etc.

![](../img/slicing.png)

In [ ]:
listas_de_listas = [["lucas", "Belem", "PA"], ["Nara", "Guaratingueta", "SP"]]
listas_de_listas[1][0]

'Logica de programação'

No slicing, usamos a notação *lista[start:stop]* para selecionar a seção (fatia) que precisamos.

Importante: o elemento no índice _start_ é incluído, o _stop_ não. Sendo assim, o número de elementos no resultado será _stop_-_start_

In [ ]:
cursos = ["Extraçao de dados", "Big Data", "Analytics Engineering,", "Arquitetura de Dados", "Logica de programação"]
cursos[2:4]

['Analytics Engineering,', 'Arquitetura de Dados']

In [ ]:
cursos[0:len(cursos):2]

['Extraçao de dados', 'Analytics Engineering,', 'Logica de programação']

### Adicionando e removendo elementos

Podemos adicionar e remover elementos de uma lista usando os seguintes métodos:
- `append()`: adiciona um elemento ao final da lista
- `insert()`: insere um elemento em uma posição específica
- `pop()`: remove e retorna um elemento em uma posição específica. Caso nenhum índice seja específicado, ele considera o último elemento
- `remove()`: remove a primeira ocorrência de um elemento específico. _Se o elemento não estiver na lista, gera um ValueError._

In [ ]:
usuarios

['José', 'Maria', 'Ana', 'João']

In [ ]:
usuarios.insert(-1, "Marcelo")

In [ ]:
usuarios.pop()

123

In [ ]:
usuarios

['José', 'Maria', 'Ana', 'João', 'Marcelo']

In [ ]:
usuarios.remove("Ana")
usuarios

['José', 'Maria', 'João', 'Marcelo']

### Concatenando listas

Podemos concatenar listas usando o operador `+` ou o método `extend`, a diferença é a performance:

- `+`: Cria uma nova lista e copia os elementos das listas originais para ela. Não é a maneira mais eficiente para listas grandes, pois cada concatenação cria uma nova lista.
- `extend`: Modifica a lista original (lista1 neste caso) ao adicionar os elementos de lista2. Mais eficiente do que usar +, especialmente para listas grandes, pois não cria uma nova lista.

> Esses dois comportamentos são conhecidos como shalow copy e deep copy, mais detalhes [aqui](https://realpython.com/copying-python-objects/#:~:text=A%20shallow%20copy%20means%20constructing,of%20the%20child%20objects%20themselves.).

In [ ]:
lista1 = [1, 2, 3]
lista2 = [4, 5, 6]
lista1 + lista2

[1, 2, 3, 4, 5, 6]

In [ ]:
lista3 = lista1 + lista2
lista3

[1, 2, 3, 4, 5, 6]

In [ ]:
lista3

[1, 2, 3, 4, 5, 6]

#### 🤓 Curiosidade: shalow e deep copy()

In [ ]:
lista1.extend(lista2)
lista1

[1, 2, 3, 4, 5, 6]

1. Shallow copy
    
    Cria uma nova coleção de objetos, mas não cria cópias dos objetos contidos nessa coleção. Em vez disso, ela apenas copia as referências aos objetos originais.

    Comportamento: Se você modificar um objeto mutável dentro da coleção copiada, essa mudança também será refletida na coleção original, porque ambas as coleções apontam para os mesmos objetos.

In [ ]:
lista_original = [[1, 2, 3], [4, 5, 6]]
lista_copia = lista_original.copy()

print(f"Lista original: {lista_original}\nLista cópia: {lista_copia}")

Lista original: [[1, 2, 3], [4, 5, 6]]
Lista cópia: [[1, 2, 3], [4, 5, 6]]

In [ ]:
lista_copia[0][2] = 4

In [ ]:
print(f"Lista original: {lista_original}\nLista cópia: {lista_copia}")

Lista original: [[1, 2, 4], [4, 5, 6]]
Lista cópia: [[1, 2, 4], [4, 5, 6]]

In [ ]:
print(f"Lista original: {id(lista_original)}\nLista cópia: {id(lista_copia)}")
print(f"Valor lista original: {id(lista_original[0])}\nValor lista cópia: {id(lista_copia[0])}")

Lista original: 135496004434048
Lista cópia: 135496004430912
Valor lista original: 135496004422528
Valor lista cópia: 135496004422528

2. Deep copy

    Cria uma nova coleção e também cria cópias completas de todos os objetos que estavam contidos na coleção original.

    Comportamento: Alterações feitas nos objetos na cópia não afetam os objetos na coleção original, pois são objetos completamente distintos.

In [ ]:
import copy

lista_original = [[1, 2, 3], [4, 5, 6]]
lista_copia = copy.deepcopy(lista_original)

print(f"Lista original: {lista_original}\nLista cópia: {lista_copia}")

Lista original: [[1, 2, 3], [4, 5, 6]]
Lista cópia: [[1, 2, 3], [4, 5, 6]]

In [ ]:
lista_copia[0][2] = 7

In [ ]:
print(f"Lista original: {lista_original}\nLista cópia: {lista_copia}")

Lista original: [[1, 2, 3], [4, 5, 6]]
Lista cópia: [[1, 2, 7], [4, 5, 6]]

In [ ]:
print(f"Lista original: {id(lista_original)}\nLista cópia: {id(lista_copia)}")
print(f"Valor lista original: {id(lista_original[0][2])}\nValor lista cópia: {id(lista_copia[0][2])}")

Lista original: 135496004423104
Lista cópia: 135496004426240
Valor lista original: 135497288778032
Valor lista cópia: 135497288778160

### Iterando uma lista

Iterar uma lista em Python significa percorrer todos os seus elementos, um por um. A ideia, no geral é: dada uma lista, para cada elemento, execute uma tarefa. Podemos fazer isso de algumas formas:

In [ ]:
usuarios = ['José', 'Maria', 'Ana', 'João']

for usuario in usuarios:
    print(usuario)

José
Maria
Ana
João

Podemos incrementar o código acima, trazendo não só o conteúdo de cada elemento da lista, mas também o índice correspondente.

- Para cada elemento da nossa lista
- Imprima esse elemento, além do seu indice e o nome do usuário.

Por exemplo:

`0 - Mariana`                                       
`1 - Ana`                        
`2 - João`

Para recuperar o índice junto com o conteúdo do elemnto da lista numa iteração, devemos usar `enumerate()`. Esta função adiciona im contador aos itens da lista.

In [ ]:
for indice, usuario in enumerate(usuarios):
    print(indice, usuario)

0 José
1 Maria
2 Ana
3 João

#### 👩‍💻 Mão na massa

Crie um laço (loop) que obedeça o seguinte pseudocódigo:

- Para cada elemento de uma lista
- Imprima esse elemento, além do seu indice e o total da lista

Por exemplo:

Utilizando a lista `frutas = ['banana', 'maca', 'uva', 'pera']`

Teriamos nos dois primeiros resultados:

`>>> #1/4: banana`     
`>>> #2/4: maca`

In [8]:
frutas = ['banana', 'maca', 'uva', 'pera']
total = len(frutas)

for i, fruta in enumerate(frutas, start=1):
    print(f"#{i}/{total}: {fruta}")

#1/4: banana
#2/4: maca
#3/4: uva
#4/4: pera

## 2. Tuplas

Tuplas são estruturas de dados bastante similares às listas:

- Ordenadas
- Indexadas
- Heterogêneas

No entanto, são **imutáveis**. Uma tupla é uma coleção de itens que não pode ser modificada após sua criação. Isso significa que você não pode adicionar, remover ou alterar elementos em uma tupla.

**Usos comuns**: tuplas são frequentemente usadas para armazenar dados que não devem ser alterados, como coordenadas geográficas, ou para retornar múltiplos valores de uma função.

_E mais_: por serem imutáveis, tuplas geralmente ocupam menos espaço na memória do que listas e podem ser mais eficientes em termos de desempenho para coleções de dados fixas.

### Criando tuplas

As tuplas são normalmente definidas usando parênteses (), usando a função tuple() ou apenas pela separação de itens por vírgulas.

In [2]:
tupla1 = ("Diana", "Lucas", "Felipe") # [] -> lista, () -> tupla

tupla2 = "Diana", "Lucas", "Felipe"

tupla3 = tuple()

# valor, valor2 = get_valores()

print(tupla1)
print(tupla2)
print(tupla3)

('Diana', 'Lucas', 'Felipe')
('Diana', 'Lucas', 'Felipe')
()

In [6]:
tupla_de_tuplas = (("Módulo 1", "Módulo 2"), ("Lógica 1", "Lógica 2"), ("Estatística 1", "Estatística 2"))
tupla_de_tuplas

(('Módulo 1', 'Módulo 2'),
 ('Lógica 1', 'Lógica 2'),
 ('Estatística 1', 'Estatística 2'))

### Consultando elementos da tupla e slicing

A maneira de consultar os elementos deuma tupla segue a lógica das listas, sempre baseada no índice do elemento (ou elementos) que desejamos recuperar.

In [3]:
print(tupla1)

('Diana', 'Lucas', 'Felipe')

In [4]:
tupla1[2]

'Felipe'

In [7]:
tupla_de_tuplas[1][0]

'Lógica 1'

### Concatenando tuplas

Podemos concatenar tuplas usando o operador `+`.

In [ ]:
tupla3 = tupla1 + tupla2
tupla3

('Diana', 'Lucas', 'Felipe', 'Diana', 'Lucas', 'Felipe')

In [ ]:
tupla1 = ("Diana", "Lucas", "Felipe") # [] -> lista, () -> tupla

tupla2 = "Diana", "Lucas", "Felipe", 1.25, 5

tupla3 = tupla1 + tupla2
tupla3

('Diana', 'Lucas', 'Felipe', 'Diana', 'Lucas', 'Felipe', 1.25, 5)

In [ ]:
tupla4 = tupla3 * 2
tupla4

('Diana',
 'Lucas',
 'Felipe',
 'Diana',
 'Lucas',
 'Felipe',
 1.25,
 5,
 'Diana',
 'Lucas',
 'Felipe',
 'Diana',
 'Lucas',
 'Felipe',
 1.25,
 5)

### Iterando uma tupla

Também seguindo a lógica de iteração de listas, podemos percorrer os elementos de uma tupla.

In [ ]:
alunos = (("Lauro", 28), ("Amanda", 26), ("Rubens", 37))

for aluno in alunos:
    print(aluno[0])

Lauro
Amanda
Rubens

### Outras características e funcionalidades das tuplas

#### Tuplas podem virar listas (_e listas podem virar tuplas_)

In [ ]:
usuarios
type(usuarios)

list

In [ ]:
usuarios

['José', 'Maria', 'Ana', 'João']

In [ ]:
tupla_usuarios =  tuple(usuarios)
type(tupla_usuarios)
tupla_usuarios

('lauro', 'alessandra', 'agnes')

#### Podemos desempacotar tuplas
Isso pode ser relevante quando precisamos extrair seus elementos e atribuí-los a variáveis separadas. Alguns casos em que o desempacotamento é útil incluem:

- Clareza e conveniência: Desempacotar uma tupla diretamente em variáveis torna o código mais claro e fácil de entender do que acessar cada elemento da tupla por índices.

- Troca de Valores: Permite uma maneira elegante e eficiente de trocar valores entre variáveis sem a necessidade de uma variável temporária.

Desempacotamento básico: cada elemento da tupla será atribuído a uma variável diferente

In [ ]:
u1, u2, u3, u4 = tupla_usuarios
print(u1)
print(u2)
print(u3)
print(u4)

José
Maria
Ana

Desempacotamento parcial: cada elemento da tupla será atribuído a uma variável diferente

In [ ]:
tupla = [1, 2, 3, 4, 5]
primeiro, *meio, ultimo = tupla
print(primeiro)
print(meio)
print(ultimo)

1
[2, 3, 4]
5

Troca de valores entre variáveis

In [ ]:
a, b = 1, 2
print(f"valor {a}, valor {b}")

a, b = b, a
print(f"valor {a}, valor {b}")

valor 1, valor 2
valor 2, valor 1

Retorno múltiplo de funções: funções podem retornar múltiplos valores na forma de uma tupla, que podem ser facilmente desempacotados.

In [ ]:
def min_max(lista):
    return min(lista), max(lista)

minimo, maximo = min_max([1, 23, 45, 3, 4])

print(f"minimo {minimo}, maximo {maximo}")

minimo 1, maximo 45

Iteração com múltiplas variáveis: ao iterar sobre uma lista de tuplas, podemos desempacotar as tuplas diretamente no loop.

In [ ]:
pares = [(1, "um"), (2, "dois"), (3, "tres")]

for numero, nome in pares:
    print(f"numero {numero}, nome {nome}")

numero 1, nome um
numero 2, nome dois
numero 3, nome tres

In [ ]:
pares = [(12, "um"), (2, "dois"), (3, "tres")]

for indice, valor in enumerate(pares):
    print(f"indice {indice} numero {valor[0]}, nome {valor[1]}")

indice 0 numero 12, nome um
indice 1 numero 2, nome dois
indice 2 numero 3, nome tres

Contagem de elementos

In [ ]:
diversos = ("a", 23, "b", 24, "c", 11, "d", 12, "a")
diversos.count("a")

2

#### Named tuples

🤔 Como lembrar a posição que cada valor significa na tupla?

Named tuples são uma extensão das tuplas normais, oferecendo mais legibilidade e funcionalidade. Elas são parte do módulo collections e oferecem algumas vantagens sobre as tuplas regulares, **simplificando o processo de acesso aos valores** da tupla.

In [ ]:
from collections import namedtuple

In [ ]:
pessoa = namedtuple("Pessoa", ["nome", "idade", "estado"])
pessoa1 = pessoa("Lucas", 23, "PA")

print("Pessoa 1:")
print(f"{pessoa1.nome} {pessoa1.idade} {pessoa1.estado}")

Pessoa 1:
Lucas 23 PA

In [ ]:
pessoa

__main__.Pessoa

### 🤷‍♀️ Mas e a imutabilidade?

Como faço para alterar algo numa tupla se eu precisar?

Para tuplas **não é possível**: alterar elementos individuais, adicionar elementos, remover elementos ou alterar a ordem dos elementos. Uma vez criada, não é possível alterar nada de uma tupla!

In [ ]:
usuarios = ["lauro", "alessandra", "agnes"]
print("lista", usuarios)
print("tupla", tupla_usuarios)
usuarios[0] = "abacate"
print("lista modificada", usuarios)

lista ['lauro', 'alessandra', 'agnes']
tupla ('lauro', 'alessandra', 'agnes')
lista modificada ['abacate', 'alessandra', 'agnes']

Poderíamos criar uma tupla de listas, caso faça sentido:

In [ ]:
tupla_de_listas = ([1, 2, 3], [4, 5, 6], [7, 8, 9])
print(tupla_de_listas)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [ ]:
tupla_de_listas[0].append(4)

In [ ]:
print(tupla_de_listas)

([1, 2, 3, 4], [4, 5, 6], [7, 8, 9])

### Mais detalhes sobre iteração em listas e tuplas

No Python temos duas funções integradas que oferecem maneiras convenientes e eficientes de iterar sobre listas, tuplas e outras sequências iteráveis: **zip()** e **enumerate().** Vamos explorar cada uma delas com exemplos para entender seu uso e utilidade.

1. **enumerate**: é usado para iterar sobre uma sequência, obtendo ao mesmo tempo o índice e o valor de cada elemento.

    Fornece uma maneira limpa e legível de obter o índice dos elementos durante a iteração, evitando a necessidade de inicializar e atualizar manualmente um contador.

In [ ]:
cores = ["vermelho", "verde", "azul"]

for indice, cor in enumerate(cores):
    print(indice, cor)

0 vermelho
1 verde
2 azul

2. **zip**: é usado para iterar sobre múltiplas sequências em paralelo. Ele retorna um iterador de tuplas, onde a i-ésima tupla contém o i-ésimo elemento de cada uma das sequências de entrada.

    Permite combinar elementos de várias sequências de uma maneira que é clara e concisa, útil para operações paralelas em dados correlacionados.

In [ ]:
nomes = ["alessandra", "agnes", "diana"]
idades = [10, 0, 20]
for nome, idade in zip(nomes, idades):
    print(f"Nome: {nome} Idade: {idade}")

Nome: alessandra Idade: 10
Nome: agnes Idade: 0
Nome: diana Idade: 20

## Set

Conjuntos (sets) em Python são coleções desordenadas de elementos únicos e imutáveis.

- **Desordenados**: Os itens em um conjunto não têm uma ordem definida; portanto, não podem ser acessados por índices ou chaves.
- **Elementos únicos:** Cada elemento em um conjunto é único. Se você tentar adicionar elementos duplicados, eles não serão incluídos mais de uma vez.
- **Imutáveis**: Enquanto o conjunto em si é mutável (você pode adicionar ou remover elementos), os elementos contidos no conjunto devem ser de tipos imutáveis, como números, strings e tuplas.

In [ ]:
conjunto = {}
conjunto = {17, 18, 7, 1, 3 , 3, 5, 6}
conjunto

{1, 3, 5, 6, 7, 17, 18}

In [ ]:
conjunto_set = set([17, 18, 7, 1, 3 , 3, 5, 6])
conjunto_set

{1, 3, 5, 6, 7, 17, 18}

In [ ]:
conjunto_set.add(96)
conjunto_set

{1, 3, 5, 6, 7, 17, 18, 96}

In [ ]:
lista = ["abacate", "abacate", "maca", "uva", "mamao"]
lista

['abacate', 'abacate', 'maca', 'uva', 'mamao']

In [ ]:
lista_unica = set(lista)
lista_unica

{'abacate', 'maca', 'mamao', 'uva'}

In [ ]:
c1 = {1, 2, 4, 6, 9}
c2 = {2, 4, 5, 10}

c1.union(c2)

{1, 2, 4, 5, 6, 9, 10}

In [ ]:
c1 & c2

{2, 4}

## 🙃 Voltando ao problema inicial da aula
**Nosso problema hoje**: Como fazer um sistema que cadastre usuários, permita buscá-los e não permita modificações acidentais.

In [ ]:
from collections import namedtuple
Pessoa = namedtuple("Pessoa", ["nome", "idade", "estado"])

continuar_cadastro = True
cadastros = []

while continuar_cadastro:
  cadastrar = input("Deseja cadastrar um novo usuário? (s/n)")

  if cadastrar.lower() == "n":
    continuar_cadastro = False
    print("\n")

  elif  cadastrar.lower() == "s":
    nome = input("Digite o nome: ")
    idade = int(input("Digite a idade: "))
    estado = input("Digite o estado: ")
    cadastro = Pessoa(nome, idade, estado)
    cadastros.append(cadastro)

  else:
    print("Opção inválida, insira s ou n")

for c in cadastros:
  print(f"Nome: {c.nome} Idade: {c.idade} Estado: {c.estado}")

Deseja cadastrar um novo usuário? (s/n)s
Digite o nome: renan
Digite a idade: 20
Digite o estado: pa
Deseja cadastrar um novo usuário? (s/n)s
Digite o nome: lauro
Digite a idade: 20
Digite o estado: sp
Deseja cadastrar um novo usuário? (s/n)n


Nome: renan Idade: 20 Estado: pa
Nome: lauro Idade: 20 Estado: sp